
.hc-show{
	display: block!important;
}
.hc-overflow{
	overflow: hidden!important;
}
/*################ 菜单导航 ###############*/
/*
灰色字体-未选中-#909399
蓝色字体-选中-#409eff
*/
.hc-nav,
.hc-nav *{
	margin: 0;
	padding: 0;
}
.hc-nav:before,
.hc-nav:after{
	display: table;
	content: " ";
}
.hc-nav:after{
	clear: both;
}
.hc-nav{
	position: relative;
	padding-left: 30px;
	border-bottom: 1px solid #eee;
	list-style: none;
	color: #909399;
	background: #fff;
}
/*一级菜单导航栏item*/
.hc-nav > li{
	float: left;
	position: relative;
	height: 60px;
	line-height: 60px;
	box-sizing: border-box;
	padding:0 20px;
	font-size: 14px;
	white-space: nowrap;
	cursor: pointer;
}
/*li里面可以嵌入一个a标签*/
.hc-nav > li > a{
	text-decoration: none;
	color: inherit;
}
/*默认悬停样式*/
.hc-nav > li:hover,
.hc-nav > li:hover > a{
	color: #303133;
}
/*自定义样式时，关闭默认悬停样式*/
.hc-nav.hc-nav-custom > li:hover,
.hc-nav.hc-nav-custom > li:hover > a{
	color: inherit;
}
/*默认选中样式*/
.hc-nav > li.hc-active{
	border-bottom: 2px solid #409eff;
	color: #303133;
}
/*自定义样式时，关闭默认选中样式*/
.hc-nav.hc-nav-custom > li.hc-active{
	border-bottom:2px solid transparent;
	color: inherit;
}
/*箭头*/
.hc-icon-arrow{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	margin-left: 8px;
	width: 6px;
	height: 6px;
	border-bottom: 1px solid #909399;
	border-right: 1px solid #909399;	
}
.hc-icon-arrow-down{
	margin-top: -8px;
	transform: rotate(45deg);
}
.hc-icon-arrow-up{
	margin-top: 0px;
	transform: rotate(-135deg);
}
/*二级菜单栏*/
.hc-nav ul.hc-nav-child{
	display: none;
	position: relative;
	z-index: 1;
	margin: 0 -20px;
	margin-top: 5px;
	list-style: none;
	border:1px solid #e2e2e2;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	background: #fff;
	color: #909399;
}
.hc-nav ul.hc-nav-child li{
	height: 36px;
	line-height: 36px;
	padding: 0 20px;
}
.hc-nav ul.hc-nav-child li:hover{
	color: #303133;
}
/*自定义样式时，关闭默认悬停样式*/
.hc-nav.hc-nav-custom ul.hc-nav-child li:hover{
	color: inherit;
}
.hc-nav ul.hc-nav-child li.hc-active{
	color: #409eff;
}
/*-------------垂直方面的菜单导航栏---------*/
.hc-nav-vertical{
	width: 200px;
	padding: 0;
	background: rgb(84, 92, 100);
}
.hc-nav-vertical li{
	display: block;
	width: 100%;
	height: auto;
}
.hc-nav-vertical li:hover{
	/*background: #4E5465;*/
}
.hc-nav-vertical > li:hover,
.hc-nav-vertical > li:hover > a{
	color: #fff;
}
.hc-nav-vertical > li.hc-active{
	border-bottom: none;
	color: #fff;
}
/*二级菜单*/
.hc-nav-vertical ul.hc-nav-child{
	border:none;
	box-shadow: none;
	background: rgb(67, 74, 80);
}
.hc-nav-vertical ul.hc-nav-child li{
	box-sizing: border-box;
}
/*展开样式*/
.hc-nav-vertical li.hc-nav-expand{
	color: #fff;
}
.hc-nav-vertical li.hc-nav-expand .hc-nav-child{
	display: block;
}
/*箭头*/
.hc-nav-vertical .hc-icon-arrow{
	float: right;
	margin-top: 23px;
}
.hc-nav-vertical .hc-icon-arrow-up{
	margin-top: 28px;
}


/*################ 选项卡 ###############*/
.hc-tab *{
	padding: 0;
	margin: 0;
}
.hc-tab{
	margin: 10px 0;
}
.hc-tab-title{
	position: relative;
	height: 40px;
	border-bottom: 1px solid #e6e6e6;
	font-size: 0;
	white-space: nowrap;
	/*overflow: hidden;*/
}
/*展开时 title 的样式*/
.hc-tab-more{
	white-space: normal!important;
	height: auto!important;
}
/*展开按钮*/
.hc-tab-bar{
	position: absolute;
	top: 0;
	right: 0;
	height: 39px;
	width: 30px;
	background: #fff;
	border:1px solid #e6e6e6;
	cursor: pointer;
}
.hc-tab-bar:before,
.hc-tab-bar:after{
	content: " ";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin:auto;
	width: 0px;
	height: 0px;
	border: 7px solid transparent;
	-webkit-transition: all .3s;
   	-moz-transition: all .3s;
      -o-transition: all .3s;
         transition: all .3s;
}
.hc-tab-bar:before{
	top: 10px;
	border-top: 8px solid #000;
}
.hc-tab-bar:after{
	top: 8px;
	border-top: 8px solid #fff;
}
.hc-tab-more .hc-tab-bar:before,
.hc-tab-more .hc-tab-bar:after{
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
		    transform: rotate(180deg);
}
.hc-tab-more .hc-tab-bar:before{
	top:-10px;
}
.hc-tab-more .hc-tab-bar:after{
	top:-8px;
}
/*tab标签页*/
.hc-tab-title li{
	position: relative;
	display: inline-block;
	min-width: 45px;
	line-height: 40px;
	padding: 0 15px;
	vertical-align: middle;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
/*tab标签页选中时的样式*/
.hc-tab-title li.hc-active:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 41px;
	border: 1px solid #e6e6e6;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	pointer-events: none;
}
.hc-tab-this:after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 41px;
	border: 1px solid #e6e6e6;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
	pointer-events: none;
}
.hc-tab-close{
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	margin-left: 8px;
	text-align: center;
	font-size: 14px;
	font-style: normal;
	color: #c2c2c2;
}
.hc-tab-close:hover{
	background: #b1daf9;
	color: #fff;
	border-radius: 2px;
}
/*内容*/
.hc-tab-content{
	padding: 10px;
}
.hc-tab-content > .hc-tab-content-item{
	display: none;
}
